# Rule for Acatel mobile phone to enable PPP on connection.
ACTION=="add", \
    ATTRS{idVendor}=="0e8d", ATTRS{idProduct}=="0023", \
    SYMLINK="phone", TAG+="systemd", \
    ENV{SYSTEMD_WANTS}="ppp@mobile.service"
