[Unit]
Description=Automatic file syncing
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c '. /etc/profile; /usr/bin/unison -batch -terse %i.prf'
Nice=19
IOSchedulingClass=idle

[Install]
WantedBy=default.target

